.section { 
    padding: 16px 0;
  .content {
    strong {
      color: white;
    }
    h2, h2 strong {
      font-size: 2rem;
      margin-bottom: 8px;
      margin-top: 32px;
    }
  }
}