.section{ 
    padding: 80px 0;
    background-color: var(--light-surface-container);
    @media (max-width: 900px) {
      padding: 40px 0;
    }
    .gridWrapper{ 
      
       
        .titleWrapper { 
           
        }
    }
}